header {
    background-color: transparent;

    div {
        background-color: rgba(56, 102, 73, 0.877);

        .nav {
            ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                justify-content: center;
            }

            navbar-light navbar-nav .linkNegro {
                color: rgb(0, 0, 0);
                text-decoration: none;
            }

            div {
                h1 {
                    font-family: $tipografiaTextos;
                    color: $colorPrincipal;
                }
            }


        }

        #idColorFondo {
            background-color: rgba(78, 148, 66, 0.938);
        }

    }


}